body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../img/tictactoe-background.jpg');
  position: fixed;
  bottom: 0px;
  top: 0px;
  right: 0px;
  left: 0px;
}

.player-turn {
  background-color: whitesmoke;
  opacity: 0.85;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(92, 92, 92);
  padding: 10px 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 3px rgb(255, 255, 255);
}

.tictactoe-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 600px;
  width: 600px;
  background-color: whitesmoke;
  padding: 10px;
  opacity: 0.85;
}

.left {
  border-right: 3px solid gray;
}

.right {
  border-left: 3px solid gray;
}

.top {
  border-bottom: 3px solid gray;
}

.bot {
  border-top: 3px solid gray;
}

.play-field {
  display: flex;
  cursor: pointer;
  font-size: 140px;
  justify-content: center;
  align-items: center;
}